@using TreeV2.NodeDto
@model IList<TreeV2.Entities.Node>

@{
    ViewData["Title"] = "TreeV2";
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Create Node</h5>
                    @{
                        var createNodeDto = new CreateNodeDto()
            {
                Parent = Model.ToList().ConvertAll(i => new SelectListItem()
                {
                    Text = i.Id + ". " + i.Name,
                    Value = i.Id.ToString(),
                    Selected = false
                })
            };
                        await Html.RenderPartialAsync("_CreateForm", createNodeDto);
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Node</h5>
                    @{
                        var editNodeDto = new EditNodeDto()
            {
                Nodes = Model.ToList()
            };

                        await Html.RenderPartialAsync("_EditForm", editNodeDto);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vueApp = new Vue({
        el: '#app',
        data: {
        },
        methods: {
            toggle: function (e) {
                let list = e.target.parentNode.querySelector("ul").style;
                list.display != "none" ? list.display = "none" : list.display = "block";
            },
            foldList: function (e) {
                let nodes = document.querySelectorAll("#root ul");
                for (let node of nodes) {
                    node.style.display = "none";
                }
            },
            unfoldList: function (e) {
                let nodes = document.querySelectorAll("#root ul");
                for (let node of nodes) {
                    node.style.display = "block";
                }
            }
        }
    });
</script>
